<div class="well">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Login to the Machine Shop</h3>
      </div>
      <div class="panel-body">

        <%= form_tag do %>
          <div class="form-group">
            <%= text_field_tag :card_id%>
          </div>
          <%= submit_tag "Login", class: "btn btn-warning"%>
        <% end %>


      </div>
    </div>
  </div>
</div>
