<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Swipe ID to Login</h3>
  </div>
  <div class="panel-body">

    <%= form_tag "/cardswipe" do %>
      <div class="form-group">
        <%= text_field_tag :card_id%>
      </div>
      <%= submit_tag "Login", class: "btn btn-warning"%>
    <% end %>


  </div>
</div>
